extends layouts/basic-static.pug

block title
  title Example static page

block content
  h1 Example static page
  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim amet reprehenderit fuga error sed quaerat modi repellat nemo quasi voluptates sequi rerum quos necessitatibus at blanditiis, iure iusto temporibus! Libero!
  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim amet reprehenderit fuga error sed quaerat modi repellat nemo quasi voluptates sequi rerum quos necessitatibus at blanditiis, iure iusto temporibus! Libero!
  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim amet reprehenderit fuga error sed quaerat modi repellat nemo quasi voluptates sequi rerum quos necessitatibus at blanditiis, iure iusto temporibus! Libero!
  ul
    li 
      a(href="/") Go to base page
