extends layouts/basic-static.pug

block css_head
  link(rel="stylesheet", href="main-page.css")

block js_bottom
  script(src="main-page.js")

block title
  title Main page

block content
  .main-page-container
    h1 Main page
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim amet reprehenderit fuga error sed quaerat modi repellat nemo quasi voluptates sequi rerum quos necessitatibus at blanditiis, iure iusto temporibus! Libero!
    ul
      li
        a(href="/word-cards-app") Word cards app
      li
        a(href="/react-road-app") React road app
      li
        a(href="/example-static-page") Go to example static page
